{% extends "base.html" %}
{% block header %}
    <h2 style="color: white">Meetings Calendary</h2>
    <p style="color: #00abff">Hello {{ current_user }}!</p>
{% endblock %}

{% block aside %}
    <a href="/add_meeting" %}">Add meetings</a><br>
    <a href="/meetings" %}">My meetings</a><br>
    <a href="{% url 'logout' %}">Logout</a><br>
{% endblock %}

{% block content %}
<a href="/today_meetings" %}">Today meetings</a> <a href="/date_meetings" %}">Date meetings</a> <a href="/date_range_meetings" %}">Date range meetings</a><br>
<br>
{% for meetings in meetings_user %}
<p><a href="/{{ meetings.id }}">{{ meetings.client }}</a></p>
{%endfor%}
{% endblock %}